.btn-close {
  position: absolute;
  top: em(40);
  right: em(40);
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  z-index: 99;
  @media (max-width: (950px)) {
    position: unset;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 15px 10px;
    opacity: 1;
  }
  @media (max-width: (550px)) {
    position: absolute;
    margin: 0;
    display: block;
    top: 9px;
    right: 9px;
    width: 18px;
    height: 18px;
  }
}
.modal-body {
  padding: 0;
  max-width: 100%;
}
.modal-content {
  border-radius: 20px;
  border: none;
  @media (max-width: (950px)) {
    display: flex;
    flex-direction: column;
  }
}
.modal-dialog {
  padding-top: 40px;
  @media (max-width: (550px)) {
    margin: 0 auto;
  }
}
.ok {
  display: none !important;
}
.err {
  display: none !important;
}

//callback===================================================================
#callback,
#callback-design,
#callback-tour {
  .modal-dialog {
    max-width: 970px;
    @media (max-width: (835px)) {
      max-width: 400px;
    }
  }
}
.callback {
  padding: em(32);
  @include adaptiveValue("padding", 32, 16);
  // .callback__title
  &__title {
  }

  // .callback__block

  &__block {
    margin-top: em(24);
    display: flex;
    align-items: flex-start;
    gap: em(24);
    flex-wrap: wrap;
  }

  // .callback__left

  &__left {
    flex: 1 1 auto;
    border-right: 1px solid $gray;
    @media (max-width: (835px)) {
      border: none;
    }
  }

  // .callback__text

  &__text {
    max-width: 528px;
    p {
      @media (max-width: (550px)) {
        display: contents;
      }
    }
    a {
      font-family: "Inter";
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .callback__pref

  &__pref {
    margin-top: em(16);
    display: flex;
    flex-direction: column;
    gap: em(12);
  }
  // .callback__important
  &__important {
    margin-top: 24px;
    font-size: rem(30);
    line-height: calc(32 / 30 * 100%);
    text-transform: uppercase;
    color: $blue;
    font-family: futura;
  }

  // .callback__item

  &__item {
    display: flex;
    align-items: center;
    gap: em(12);
    p {
      font-size: rem(20);
      line-height: calc(24 / 20 * 100%);
      font-family: futura;
      text-transform: uppercase;
    }
  }

  // .callback__form

  &__form {
    flex: 0 0 320px;
    @media (max-width: (835px)) {
      flex: 1 1 100%;
    }
  }
}
.form-btn {
  position: relative;
  z-index: 2;
}
.main-form {
  // .main-form__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .main-form__item

  &__item {
    p {
      font-size: rem(12);
      line-height: calc(12 / 12 * 100%);
      opacity: 0.5;
    }
  }

  // .main-form__field

  &__field {
    height: 48px;
  }

  // .main-form__input

  &__input {
    height: 100%;
    width: 100%;
    background-color: $gray;
    border-radius: 12px;
    font-family: futura;
    font-size: rem(20);
    padding-left: em(16);
    border: 1px solid transparent;
  }

  // .main-form__button

  &__button {
    height: 48px;
    position: relative;

    ._main-btn {
      background-color: $green;
      color: #fff;
      &:disabled {
        pointer-events: none;
        background-color: $gray;
        color: $mainColor;
      }
    }
  }
}

//callback===================================================================

//modal-mobile===================================================================
@media (max-width: (550px)) {
  .modal {
    bottom: -40px;
    top: auto;
  }
  .modal-dialog-centered {
    align-items: flex-end;
    min-height: calc(103% - var(--bs-modal-margin) * 2);
  }
  .modal-body {
    margin-bottom: 60px;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, 360px);
  }
  .modal.show .modal-dialog {
    transform: none;
  }
}
//modal-mobile===================================================================
//thankyou===================================================================
#thankyou {
  .modal-dialog {
    max-width: 970px;
  }
}
.thankyou {
  padding: 32px;
  @include adaptiveValue("padding", 32, 16);

  // .thankyou__title
  &__title {
  }

  // .thankyou__subtitle

  &__subtitle {
  }

  // .thankyou__block

  &__block {
    margin-top: em(24);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @include adaptiveValue("gap", 16, 8);
  }

  // .thankyou__link

  &__link {
    padding-bottom: 60%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    border: 2px solid transparent;
    @include adaptiveValue("border-radius", 32, 16);
    &:hover {
      border-color: $mainColor;
    }
  }

  // .thankyou__page-name

  &__page-name {
    position: absolute;
    top: em(16);
    left: em(16);
    background: #00011d;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    line-height: calc(12 / 11 * 100%);
    padding: 4px 8px;
    text-transform: uppercase;
  }
}

//thankyou===================================================================

//quiz-modal===================================================================
#quiz-modal {
  .modal-dialog {
    max-width: 910px;
    @media (max-width: (768px)) {
      max-width: 375px;
      .callback__title {
        display: none;
      }
      .callback__block {
        margin-top: em(16);
      }
    }
  }
  .modal-body {
    padding: em(30);
    @media (max-width: (768px)) {
      padding: 16px;
    }
  }
}
//quiz-modal===================================================================

//reviews-modal===================================================================
#reviews {
  .modal-dialog {
    max-width: 960px;
  }
  .modal-dialog {
    @media (max-width: (550px)) {
      min-height: 80vh;
    }
  }
}

.reviews-modal {
  margin-top: em(24);
  @media (max-width: (768px)) {
    margin-top: 0;
  }
  @media (max-width: (550px)) {
    margin-top: em(10);
  }
  // .reviews-modal__item

  &__item {
    border-radius: 2em;
  }

  // .reviews-modal__link

  &__link {
    margin-top: em(24);
    display: flex;
    color: $blue;
    max-width: 210px;
    @media (max-width: (550px)) {
      margin-top: em(10);
    }
    &:hover {
      text-decoration: underline;
      color: $blue;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
  }

  .swiper {
  }
  .swiper-wrapper {
    @media (max-width: (550px)) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .reviews-prev,
  .reviews-next {
    background-color: $gray;
    border-radius: 16px;
    width: 48px;
    height: 48px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    &::after {
      display: none;
    }
    @media (max-width: (550px)) {
      display: none;
    }
  }
  .reviews-next {
    background-image: url(../img/designs/arrow_f.svg);
    right: 0px;
    &:hover {
      background-image: url(../img/designs/arrowf.svg);
    }
  }
  .reviews-prev {
    background-image: url(../img/designs/arrow_b.svg);
    left: 0px;
    &:hover {
      background-image: url(../img/designs/arrowb.svg);
    }
  }
}

//reviews-modal===================================================================
